
/*общие настройки*/
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  /*общие настройки*/

/*О нас и видео превью*/
.video-play {
    width: 590px;
    height: 332px;
    box-shadow: 0px 0px 15px 10px #000;
}
.info-coffe {
    margin-top: 30px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pt-40 {
    padding-top: 40px;
}
.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}
.justify-content-start {
    justify-content: flex-start !important;
}
.video-right {
    background-size: cover;
    height: 350px;
    border-radius: 10px;
} 
.video-right .overlay-bg {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.78);
}
.video-right .play-btn {
    z-index: 2;
}
.justify-content-center {
    justify-content: center !important;
}
.video-left {
    padding-left: 10%;
    width: 500px;
}
.video-left h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #b68834;
    font-size: 14px;
    font-weight: 300;
}
.video-left h1 {
    padding-bottom: 20px;
    font-size: 26px;
}
.video-left p span {
    color: #000;
    font-weight: 400;
}
.fix-top {
    margin-top: 50px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 1200px) {
    .video-left h1 {
        padding-bottom: 20px;
        font-size: 22px;
    }
    .video-left {
        padding-left: 10%;
    }
    .video-left span {
        font-size: 14px;
    }
    .video-left p {
        font-size: 14px;
    }
    .video-left h6 {
        font-size: 12px;
    }
    .video-play {
        width: 500px;
        height: 281px;
    }
    .video-right {
        width: 400px;
    }  
}
@media screen and (max-width: 990px) {
    .video-left {
        width: 300px;
        padding-left: 30px;
    }
    .video-right {
        height: 200px;
        width: 350px;
    }
    .content-previe {
        width: 100%;
    }
    .video-play {
        width: 350px;
        height: 197px;
    }
    .video-left span {
        font-size: 12px;
    }
    .video-left p {
        font-size: 12px;
    }
    .video-left h6 {
        font-size: 9px;
    }
    .video-left h1 {
        font-size: 14px;
    }
    .fix-top {
        padding-bottom: 5%;
    }
}
@media screen and (max-width: 770px) {
    .video-right {
        width: 100%;
        margin-left: 25%;
    }
    .video-left {
        margin-left: 20%;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 650px) {
    .video-right {
        width: 100%;
        margin-left: 15%;
    }
    .video-left {
        margin-left: 10%;
    }
}
@media screen and (max-width: 480px) {  
    .video-right {
        width: 100%;
        margin-left: 10%;
    }
    .video-left {
        margin-left: 3%;
    }
}
@media screen and (max-width: 425px) {
    .video-play {
        width: 245px;
        height: 138px;
    }
    .video-left {
        margin-left: 3%;
        margin-top: -10%;
    }
}
/*О нас и видео превью*/

/*боковое меню соц.сетей*/
.sidepanel {
    position:fixed;
    left:30px;
    top:240px;
    height:450px;
    width:25px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center
}
.sidepanel__text {
    width:120px;
    height:120px;
    font-size:15px;
    color:rgb(224, 66, 66)
}
.sidepanel__text span {
    display:flex;
    transform:rotate(-90deg) translateX(-50px)
}
.sidepanel__divider {
    width:1px;
    height:165px;
    background-color:rgb(224, 66, 66)
    /*background-color:rgb(170, 30, 30)*/
}
.sidepanel__icon {
    width:25px;
    height:25px
}
.sidepanel__icon img {
    width:100%
}
@media screen and (max-width: 1325px) {
    .sidepanel {
        left:10px;
    }
}
@media screen and (max-width: 1250px) {
    .sidepanel {
        display: none;
    }
}
/*боковое меню соц.сетей*/

/*Слайдер - новинки меню*/
.preview {
    padding:28px 0 100px 0;
    position:relative
}
.bgc_blue {
    position:absolute;
    right:0;
    top:-30px;
    width:100%;
    height:800px;
    background:rgba(174, 185, 24, 0.144);
    z-index:-1
}
.container-preview {
    max-width:1200px;
    margin:0 auto
}
.container-preview {
    display:flex;
    justify-content:space-between
}
.container-preview {
    display:flex;
    justify-content:space-between;
    align-items:flex-start
}
.container-preview {
    display:flex
}
.container-preview {
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:flex-end
}
.tabcontainer {
    display:flex;
    width:1130px;
    margin:0 auto;
    box-shadow:0 4px 30px rgba(0,0,0,.25)
}
.tabcontent {
    width:850px;
    position:relative
}
.tabcontent img {
    width:100%;
    height:100%;
    object-fit:cover
}
.tabcontent__descr {
    position:absolute;
    top:350px;
    right:-220px;
    width:580px;
    height:359px;
    background:rgba(251,254,93,.8);
    padding:50px;
    font-size:24px;
    font-weight:300;
    line-height:36px;
    color:rgba(0,0,0,.7);
}
.tabheader {
    width:280px;
    padding:35px 30px;
    background-color:#fff
}
.tabheader h3 {
    font-weight:700;
    font-size:20px
}
.tabheader__items {
    margin-top:35px;
    padding-left:26px;
    border-left:1px solid #000
}
.tabheader__item {
    font-weight:700;
    font-size:18px;
    font-weight:300;
    margin-top:10px;
    color:rgba(0,0,0,.6);
    cursor:pointer;
    transition:.3s all
}
.tabheader__item_active {
    color:#000;
    font-size:22px;
    font-weight:700
}
.preview__life {
    font-weight:700;
    font-size:18px;
    margin-left:330px;
    margin-top:10px;
    letter-spacing: 2px;
    color: #b68834;
}
.hide {
    display:none
}
.show {
    display:block
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
}}
.Smiley-face {
    height: 50px;
    width: 50px;
    margin-left: -12px;
    margin-bottom: -15px;
}
@media screen and (max-width: 1670px) {
    .preview__life {
        margin-left: 200px;
    }
}
@media screen and (max-width: 1480px) {
    .preview__life {
        margin-left: 120px;
        font-size: 16px;
    }
}
@media screen and (max-width: 1325px) {
    .preview__life {
        margin-left: 100px;
        font-size: 15px;
    }
    .Smiley-face {
        height: 40px;
        width: 40px;
        margin-left: -12px;
        margin-bottom: -15px;
    }
}
@media screen and (max-width: 1250px) {
    .preview__life {
        margin-left: 100px;
        font-size: 13px;
    }
}
@media screen and (max-width: 1190px) {
    .preview__life {
        margin-left: 80px;
        font-size: 13px;
    }
}
@media screen and (max-width: 1100px) {
    .preview__life {
        margin-left: 70px;
        font-size: 13px;
    }
    .tabcontainer {
        width:980px;
    }
    .tabcontent__descr {
        width:480px;
        height:329px;
        font-size:20px;
        padding-top: 2%;
    }
}
@media screen and (max-width: 980px) {
    .preview__life {
        margin-left: 100px;
        font-size: 12px;
        width: 300px;
    }
    .tabcontainer {
        width:765px;
    }
    .tabcontent__descr {
        width:380px;
        height:240px;
        font-size:16px;
        padding-top: 2%;
        top:330px;
        right:-110px;
        line-height: 1.5;
    }
}
@media screen and (max-width: 765px) {
    .preview__life {
        margin-left: 440px;
        font-size: 12px;
        width: 250px;
    }
    .tabcontainer {
        width:650px;
    }
    .tabcontent__descr {
        width:380px;
        height:240px;
        font-size:16px;
        padding-top: 2%;
        top:250px;
        right: 80px;
        line-height: 1.5;
    }
    .tabheader h3 {
        font-weight:500;
        font-size:16px
    }
    .tabheader__item {
        font-weight:500;
        font-size:16px;
        font-weight:300;
        margin-top:10px;
    }
    .tabheader__item_active {
        font-size:18px;
        font-weight:700
    }
}
@media screen and (max-width: 695px) {
    .preview__life {
        margin-left: 400px;
    }
}
@media screen and (max-width: 650px) {
    .tabcontainer {
        width:481px;
        height: 244px;
    }
    .preview__life {
        margin-left: 350px;
        font-size: 11px;
        width: 200px;
    }
    .tabheader h3 {
        font-weight:500;
        font-size:14px;
        margin-top:-20%;
        width: 100px;
    }
    .tabheader__item {
        font-weight:300;
        font-size:14px;
        margin-top:5px;
        margin-left: -10%;
    }
    .tabheader__item_active {
        font-size:14px;
        font-weight:600
    }
    .up-fix {
        margin-top: 15px;
    }
    .tabcontent__descr {
        width:300px;
        height:150px;
        font-size:10px;
        padding-top: 2%;
        top:180px;
        right: 70px;
        line-height: 1.5;
    }
    .preview {
        margin-bottom: -10%;
    }
}
@media screen and (max-width: 560px) {  
    .preview__life {
        margin-left: 290px;
    }
}
@media screen and (max-width: 500px) {  
    .preview__life {
        margin-left: 260px;
    }
}
@media screen and (max-width: 480px) {  

    .tabcontainer {
        width:366px;
        height: 185px;
    }
    .preview__life {
        margin-left: 280px;
        font-size: 9px;
        width: 130px;
    }
    .tabheader h3 {
        font-weight:500;
        font-size:12px;
        margin-top:-20%;
        width: 100px;
    }
    .tabheader__item {
        font-weight:300;
        font-size:14px;
        margin-top:5px;
        margin-left: -10%;
    }
    .tabheader__item_active {
        font-size:14px;
        font-weight:500
    }
    .up-fix {
        margin-left: -20px;
    }
    .tabcontent__descr {
        width:250px;
        height:135px;
        font-size:9px;
        padding-top: 2%;
        top:130px;
        right: -10px;
        line-height: 1.5;
    }
    .preview {
        margin-bottom: -15%;
    }
}
@media screen and (max-width: 425px) {
    .preview__life {
        margin-left: 222px;
        margin-top: 10px;
        font-size: 9px;
        width: 170px;
        display:block;
        position: absolute;
    }
    .tabcontent__descr {
        width:200px;
        height:120px;
        font-size:9px;
        padding-top: 2%;
        top:130px;
        right: 10px;
        line-height: 1.5;
        display:block;
        position: absolute;
        padding: 0%;
        text-align: center;
    }
}
@media screen and (max-width: 410px) {
    .preview__life {
        margin-left: 215px;
    }
}
@media screen and (max-width: 400px) {
    .preview__life {
        margin-left: 210px;
    }
}
@media screen and (max-width: 395px) {
    .preview__life {
        margin-left: 205px;
        font-size: 8px;
    }
    .tabcontainer {
        width:359px;
        height: 185px;
    }
}
@media screen and (max-width: 380px) {
    .preview__life {
        margin-left: 195px;
        font-size: 8px;
    }
    .tabcontainer {
        width:355px;
        height: 185px;
    }
}
/*Слайдер - новинки меню*/

/*Меню напитков*/
.menu-product {
    background: url(../img/Фон_напитков.png) center;
    background-size: cover;
}
.section-prod {
    padding: 80px 0;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container.fullwidth {
    width: 100%;
}
.container.no-padding {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
} 
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}
.d-flex {
    display: flex !important;
}
.justify-content-center {
    justify-content: center !important;
}
.menu-content {
    padding-bottom: 60px;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.text-center {
    text-align: center;
    text-align: center !important;
    margin-bottom: 10px;
}
.one-text-menu {
    font-size: 32px;
    color:rgba(141, 248, 0, 0.692);  
}
.text-menu {
    font-size: 26px;
    color:rgba(255, 255, 255, 1);
}
.col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.single-menu {
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
    border-radius: 10px;
    padding: 30px 30px;
    margin-bottom: 30px;
}
.single-menu .title-div {
    padding-bottom: 20px;
}
.single-menu .price {
    color:rgb(211, 37, 31);
    font-size: 18px;
    font-weight: 900;
}
.single-menu {
    box-shadow: 0px 0px 20px 10px rgba(167, 192, 144, 0.671);
}
.single-menu p {
    margin-bottom: 0;
    margin-top: 0px;
}
/*анимация*/
.single-menu{
    transition: 0.5s; /* Время эффекта */
    text-align: center;
}
.single-menu:hover {
    transform: scale(0.8); /* уменьшение масштаба */ 
    background-color: #8cf191c5;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}
.title-div h4 {
    font-size: 26px;
}
.justify-content-between {
    justify-content: space-between !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.float-right {
    float: right !important;
}
.float-right {
    float: right;
}

.love_or_coffee {
    margin-top: -200px;
    margin-left: 75%;
    display:block;
    position: absolute;
    width: 500px;
    height: 320px;
}

@media screen and (max-width: 1480px) {
    .love_or_coffee {
        width: 425px;
        height: 272px;
        margin-left: 72%;
    }
}
@media screen and (max-width: 1325px) {
    .love_or_coffee {
        width: 382px;
        height: 244px;
        margin-left: 74%;
        margin-top: -18%;
    }
}
@media screen and (max-width: 1250px) {
    .love_or_coffee {
        width: 344px;
        height: 220px;
        margin-left: 76%;
        margin-top: -18%;
    }
}
@media screen and (max-width: 1190px) {
    .love_or_coffee {
        width: 310px;
        height: 198px;
        margin-left: 76%;
    }
}
@media screen and (max-width: 1100px) {
    .love_or_coffee {
        width: 279px;
        height: 178px;
        margin-left: 75%;
        margin-top: -15%;
    }
}
@media screen and (max-width: 980px) {
    .one-text-menu {
        font-size: 29px;
    }
    .text-menu {
        margin-top: -18px;
        font-size: 23px;
    }
    .love_or_coffee {
        width: 201px;
        height: 128px;
        margin-left: 84%;
        margin-top: -12%;
    }
    .price {
        font-size: 17px;
    }
    .single-menu p {
        font-size: 12px;
        text-align: center;
    }
    .title-div h4 {
        font-size: 22px;
        text-align: left;
        margin-left: -10px;
    }   
}
@media screen and (max-width: 765px) {
    .single-menu {
        text-align: center;
        padding: 15px 30px;
        margin-bottom: 30px;
    }
    .price {
        font-size: 24px;
        margin-left: -150px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .single-menu p {
        font-size: 12px;
        text-align: center;
    }
    .title-div h4 {
        font-size: 23px;
        text-align: center;
        white-space: pre;
        margin-top: 30px;
        width: 100%;
        height: 100%;       
    }
    .exit-text {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .one-text-menu {
        font-size: 26px;
    }
    .text-menu {
        margin-top: -16px;
        font-size: 22px;
    }
    .love_or_coffee {
        width: 148px;
        height: 95px;
        margin-left: 82%;
        margin-top: -12%;
    }
    .title-div h4 {
        font-size: 20px;
    }
}
@media screen and (max-width: 480px) {  
    .one-text-menu {
        font-size: 24px;
    }
    .text-menu {
        margin-top: -14px;
        font-size: 20px;
    }
    .love_or_coffee {
        width: 74px;
        height: 47px;
        margin-left: 85%;
        margin-top: -12%;
    }
    .title-div h4 {
        font-size: 19px;
        margin-left: -15px;
        margin-top: 35px;
    }
    .single-menu {
        padding: 8px 30px;
        margin-bottom: 30px;
    }
    .menu-content {
        padding-bottom: 5%;
    }
    .menu-product {
        padding-bottom: 10%;
    }
}
@media screen and (max-width: 425px) {  
    .one-text-menu {
        font-size: 20px;
    }
    .text-menu {
        margin-top: -12px;
        font-size: 16px;
    }
    .love_or_coffee {
        width: 74px;
        height: 47px;
        margin-left: 82%;
        margin-top: -12%;
    }
    .title-div h4 {
        font-size: 16px;
        margin-left: -20px;
        margin-top: 35px;
    }
    .single-menu {
        padding: 6px 30px;
        margin-bottom: 30px;
    }
    .menu-content {
        padding-bottom: 5%;
    }
    .menu-product {
        padding-bottom: 10%;
        padding-top: 10%;
    }
}
@media screen and (max-width: 365px) {  
    .one-text-menu {
        font-size: 19px;
    }
    .text-menu {
        margin-top: -10px;
        font-size: 16px;
    }
    .love_or_coffee {
        width: 74px;
        height: 47px;
        margin-left: 82%;
        margin-top: -14%;
    }
    .title-div h4 {
        font-size: 15px;
        margin-left: -25px;
        margin-top: 35px;
    }
    .single-menu {
        padding: 3px 30px;
        margin-bottom: 30px;
    }
    .menu-product {
        padding-bottom: 8%;
    }
}
/*Меню напитков*/

/*Футер сайта*/
.the-end-footer {
    background-color:rgba(15, 15, 14, 0.733);
    width: 100%;
    height: 100px;
    border-style: none;
    text-align: center;
  }
  .the-end-footer-black {
    background-color:rgba(0, 0, 0, 0.966);
    width: 100%;
    height: 20px;
  }
  .footer-container {
    color:rgb(255, 255, 255);
    display: inline-block;
    margin-left: 50px;
    margin-top: 0%;
    text-align: left;
  }
  .margin50px {
    margin-left: 200px;
    font-size: 14px;
  }
  .footer-mess {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
  }
  @media screen and (max-width: 980px) {
    .footer-container {
        margin-left: 40px;
    }
  }
  @media screen and (max-width: 650px) {
    .footer-container {
        margin-left: 30px;
        font-size: 12px;
    }
    .the-end-footer {
        height: 80px;
    }
  }
  @media screen and (max-width: 480px) {  
    .footer-container {
        margin-left: 10px;
    }
    .margin50px {
        margin-left: 30px;
    }
    .footer-mess {
        width: 25px;
        height: 25px;
    }
    .the-end-footer {
        height: 80px;
    }
  }
  @media screen and (max-width: 425px) {  
    .footer-container {
        margin-left: 20px;
        font-size: 10px;
    }
    .the-end-footer {
        height: 70px;
    }
  }
  @media screen and (max-width: 365px) {  
    .footer-container {
        margin-left: 15px;
        font-size: 8px;
    }
    .the-end-footer {
        height: 70px;
    }
    .footer-mess {
        width: 17px;
        height: 17px;
    }
  }
  /*Футер сайта*/